<div id="background" class="col-sm-10 col-sm-offset-1">
	<h1 class="page-title">About</h1>
	<p>Hi! I'm Laura. I'm creating this Rails app for my <a href="http://careerfoundry.com" target="_blank">CareerFoundry</a> web developer course.</p>
	<p>If you'd like to know a little more about me, check out <a href="http://www.the-is.com" target="_blank">my own site</a>.</p>
</div>