	<div id="background" class="container-fluid">
		<div class="col-sm-10 col-sm-offset-1">
			<h1 class="page-title">About</h1>
			<p>Hi! I'm Laura. I created this portfolio site through the web developer course at <a href="http://careerfoundry.com/en" target="_blank"><%= image_tag("CareerFoundry.png", class: "img-responsive footer-image") %></a>.</p>
				<p>This site, showcasing the following skills, is a</p>
				<h4>responsive, interactive, and dynamic Rails website.</h4>
					<li>HTML, HTML Forms, Mailers</li>
					<li>CSS, Bootstrap, Modal windows</li>
					<li>Javascript, Javascript APIs</li>
					<li>Ruby, Rails (MVC)</li>
					<li>Heroku</li>
					<li>Authentication, Authorization, User Moderation</li>
					<li>Payments through Stripe</li>
					<li><a href="https://github.com/lltheis/TheisRailsApp" target="_blank">GitHub</a> version control</li>
					<li>Redis</li>
					<li>ActionCable</li>
			<h5>If you'd like to know a little more about me, check out my website at <a href="http://www.the-is.com" target="_blank">the-is.com.</a></h5>
		</div>
	</div>