<div id="background" class="container-fluid">
	<div class="col-sm-10 col-sm-offset-1">
		<h1 class="page-title">Contact</h1>
		<p>Hi! I'm Laura. I'm creating this Rails app for my <a href="http://careerfoundry.com" target="_blank">CareerFoundry</a> web developer course.</p>
		<p>So, if you'd like to get in touch with me, check out the contact section on <a href="http://www.the-is.com/#contact" target="_blank">my site</a>.</p>
	</div>
</div>