<div class="panel panel-default col-sm-6 col-sm-offset-3">
  <h1 class="panel-body page-title">
    <p>Thank you. We have received your message and will respond as soon as possible.</p> 
    <p>If this is an emergency, please call us at 123-456-7890.</p>
  </h1><!-- / panel-body -->
</div><!-- / panel -->