<div class="content">
		<table class="table">
      <tbody>
        <tr>
					<th width="15%">First name:</th>
		  		<%= @user.first_name %>
				</tr>
				<tr>
				  <th width="15%">Last name:</th>
				  <td><%= @user.last_name %></td>
				</tr>
			</tbody>
		<table>
		<%= link_to 'Edit', edit_user_path(@user), class: "btn btn-forms" %>
		<%= link_to 'Back', users_path, class: "btn btn-forms" %>
</div>