/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*****  GENERAL   *****/
.content {
 	padding: 10px 20px;
 	z-index: 20;
 }

 th {
 	font-size: 1.5em;
 }

 .page-title {
	padding-top: 20px;
 }


/*****  PRODUCT   *****/
 .product-desc {
 	padding: 5px;
 	min-height: 66px;
 	margin-bottom: 6px;
 	font-size: 1.1em;
 }

 .product-price {
 		font-family: 'Playfair Display', 'Times New Roman', serif;
 		font-size: 1.1em;
 		text-align: center;
 		font-weight: 700;
 		padding-right: 30px;
 }

 .product-img {
 		min-height: 250px;
 }

 .product-tools {
 	background-color: #575757;
 	width: 100%;
 	padding: 5px 2px;
 	text-align: right;
 }

 .product-grid {
 		padding-bottom: 10px;
 }

.link-to { 
	margin-right: 10px; 
}

.carousel-inner > .item > img, 
.carousel-inner > .item > a > img{
	margin: 30px auto 30px auto;
	min-height: 350px;
	max-height: 350px;
}


.carousel-control.right, .carousel-control.left {
  background-image: none;
}

.carousel-caption {
	z-index: 1;
	position: absolute;
	left: 0;
	top: 35%;
	height: 36px;
	width: 100%;
	background-color: rgba(193, 193, 193, 0.8);
	padding: 5px;
}

.carousel-indicators li {
	border: 2px solid #5F25A0;
}

.carousel-indicators .active {
	background-color: #5F25A0;
}

.glyphicon {
	color: #000;
}

.product-title {
	text-shadow: none;
	font-size: 1.5em;
	text-align: center;
	font-family: 'Playfair Display', 'Times New Roman', serif;
	font-weight: 700;
	text-transform: lowercase;
	padding-top: 4px;
	height: 30px;
}

 .featured-product {
 	max-height: 200px;
 	min-height: 200px;
 	margin: auto;
 }

 .featured-next {
 	color: #279B2E;
 	font-family: 'Playfair Display', 'Times New Roman', serif;
 	font-size: 1.25em;
 	text-transform: uppercase;
 	line-height: normal;
	width: 100%;
	text-align: center;
	padding-top: 20px;
 }

.td-product {
 	border-top: none;
 }


 /*****  FOOTER   *****/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #E3F1CD;
  padding: 10px 0px;
}

.footer-center  {
	float: none;
}

.footer-image {
	height: 20px;
	display: inline-block;
}

.footer-right  {
	text-align: right;
}

.new_product {
	padding: 10px 0px 0px 25px;
}

/*****  SEARCH FORM   *****/
.nav-search {
	color: #333;
}

.nav-form {
	padding: 5px 20px 0px 0px;
}

.nav-button {
 padding: 3px 5px 3px 5px;
}

/*****  AUTHENTICATION FORMS   *****/
.authentication-forms {
	max-width: 15%;
}

.btn-forms { 
  color: #8CB63D; 
  background-color: #FFFFFF; 
  border-color: #8CB63D;
  margin: 3px;
} 

.btn-forms:hover, 
.btn-forms:focus, 
.btn-forms:active, 
.btn-forms.active, 
.open .dropdown-toggle.btn-forms { 
  color: #ffffff; 
  background-color: #b4b4b4; 
  border-color: #8CB63D; 
} 


/*****  TABLES   *****/
.table-img {
	width: 30%;
	padding-right: 10px;
}

/*****  PAGINATION   *****/
.pagination {
	font-size: 1.2em;
}

.previous_page {
	padding: 2px;
}

.current {
	padding: 2px;
	font-style: normal;
}

.next_page {
	padding: 2px;
}