/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*****  GENERAL   *****/
 th {
 	padding: 0px 10px 0px 10px;
 	 	font-size: 1.5em;
 }

 .page-title {
	padding: 20px 0px 0px 30px;
 }


/*****  PRODUCT   *****/
 .featured-product {
 	padding-top: 50px;
 	max-height: 200px;
 }

 .featured-next {
 	color: #279B2E;
 	font-family: 'Playfair Display', 'Times New Roman', serif;
 	font-size: 1.25em;
 	text-transform: uppercase;
 	line-height: normal;
 }

  .product-desc {
 	background-color: #5F25A0;
 	color: #B4B4B4;
 	padding: 5px;
 }

 .product-tools {
 	background-color: #575757;
 	width: 100%;
 	padding: 5px 2px;
 	text-align: right;
 }

 .product-grid {
 		padding-bottom: 10px;
 }

.link-to { 
	margin-right: 10px; 
}