<div class="col-xs-12 col-sm-4">
	<div class="product-title"><%= link_to product.name, product %></div>
		<%= image_tag(product.image_url, class: "img-responsive featured-product") %>
	<div class="product-desc"><%= product.description %></div>
		<span class="product-price">Retail Price = $ <%= product.price %></span>
	<hr>
</div><!-- /col -->
