<div class="content">
	<h1 class="page-title">Edit Product</div>

<%= render 'form' %>

<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %> |
<%= link_to 'Home Page', controller: "static_pages", action: "landing_page" %>
</div>
