<div class="content">
		<h1>Edit Product</h1>

		<%= render 'form' %>
		
		<%= link_to 'Show', @product, class: "btn btn-forms" %>
		<%= link_to 'Back', products_path, class: "btn btn-forms" %>
		<%= link_to 'Home Page', controller: "static_pages", action: "landing_page" %>

</div>