<p id="notice"><%= notice %></p>
  <div class="page-title">Our Products</div>
  <div class="container-fluid">
    <div class="row">
      <%= render @products %>
      <% end %>
    </div>
  </div>

  <br>

  <div class="col-sm-12">
  <%= link_to 'New Product', new_product_path %>
  </div>
